@{
    ViewData["Title"] = "Email Confirmation";
}

<section class="section pt-5 pb-5 text-center">
    <div class="container">
        <h2 class="text-success mb-4"> Email successfully confirmed!</h2>
      
        <p class="lead">Your email has been verified. You can now log in to your Timoto account.</p>
        <a class="btn btn-primary mt-3" asp-controller="Account" asp-action="Login">Go to Login</a>
    </div>
</section>
